/* Place CSS styles here */
body {
  background-color: #abcfff;
}
img {
  width: 300px;
  height: auto;
  align-items: center;
}
body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #1c2a71;
}
h1 {
  font-size: 20px;
  text-align: center;
  color: #1c2a71;
}
p{
  font-size: 30;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #1c2a71;
}
